@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-poppins);
}

/* Set default icon color for date input */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color to white */
}

/* Set default icon color for time input */
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color to white */
}

input[type="text"]::placeholder {
  color: #ffffff;
}

option {
  color: #171717;
}


.navItem {
  @apply px-1 py-2 hover:text-cstmTeal text-xl font-normal border-b-4 border-transparent cursor-pointer;
}

.navItem-active {
  @apply text-cstmTeal border-cstmTeal;
}

.glassmorph {
  @apply bg-white/20 backdrop-blur-sm;
}

.filter-input-label {
  @apply text-lg font-medium px-2;
}

.filter-input {
  @apply w-full px-2 py-1 border-0 outline-none bg-white/10 focus:bg-white/40 hover:bg-white/40 rounded-full;
}





/* // test table css  */
.cstm-table {
  @apply min-w-full bg-white border border-gray-200 rounded-lg;
}

.cstm-table-header {
  @apply bg-gray-100 px-6 py-3 text-left text-sm font-semibold text-gray-600 border-b;
}

.cstm-table-cell {
  @apply px-6 py-4 text-sm text-gray-700 border-b;
}

.cstm-table-row:hover {
  @apply bg-gray-50;
}